<div>
  <form class="example-form">
     <mat-form-field class="example-full-width">
       <input [(ngModel)] = "name" name = "name" matInput placeholder="First Name">
     <mat-hint> please enter your name</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)] = "email1"  placeholder="Enter your email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <p class="error" *ngIf="error.code == 'auth/invalid-email'">
      {{error.message}}
    </p>
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "password" name = "password" matInput placeholder="Password">
      <mat-hint> please enter your Password</mat-hint>
    </mat-form-field>
    <p class="error" *ngIf="error.code == 'auth/weak-password'">
      {{error.message}}
    </p>
    <p class="error" *ngIf="wrong != ''">
      {{wrong}}
    </p>
    <br>
    <br>
    <br>
    <button mat-stroked-button (click) = "signUp()">Sign up</button>
  </form>
  <div class="error"> {{error.message}}</div>
</div>
